<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to this wonderful UI</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
        /* Increase button font size and padding */
        button {
          font-size: 1.5em;
          padding: 0.5em;
        }
      </style>
  </head>
  <body>
    <h1>Welcome to this wonderful UI</h1>
    <p>Select what operator you are</p>
    <form action="/Sound">
     <button type="submit">Sound board</button>
    </form>
    <form action="/Lights">
     <button type="submit">Light board</button>
    </form>
  
  </body>
  <script>

  </script>
</html>
