<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to this wonderful UI</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
        /* Increase button font size and padding */
        button {
          font-size: 1.5em;
          padding: 0.5em;
        }
      </style>
  </head>
  <body>
    <h1>Welcome Light OP</h1>
    <p>this will be a UI</p>
    <form action="/lander">
    <button id="myButton">back</button>
    <form>
    
  
  </body>
  <script>

  </script>
</html>
