
<!DOCTYPE html>
<html>
  <head>
    <title>H</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    
    <p id="detected">detected: </p>
    <p id="expected">expected: </p>
    <button id="myButton">Detect Speach</button>
    <form action="/New">
      <button type="submit">Load new page</button>
  </form>
  
  </body>
  <script>
    
    var detected
    var expected

    $.get("/vars", {"vars": "detected"}).done(function(response) {
            detected = response;
            console.log(detected);
            document.getElementById("detected").innerHTML = detected;

            });

    $.get("/vars", {"other": "b"}).done(function(response) {

      expected = response;
      document.getElementById("expected").innerHTML = expected;

    });

    document.getElementById("myButton").addEventListener("click", function() {
      $.get("/speech", {"speech": "a"}).done(function(response) {
        detected = response;
        document.getElementById("detected").innerHTML = detected;

      });

    });

   

    function updateString() {
    $.get('/get', {"get": "a"}).done(function(response) {
      document.getElementById("detected").innerHTML = response;
    });
}

setInterval(updateString, 1000);

  </script>
</html>
